@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 20rem;
  margin-right: auto;
  margin-left: auto;
}

header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-btn {
  width: 2rem;
  height: 2rem;
  background-image: url('./img/menu_hamburger.png');
  background-size: contain;
  background-color: transparent;
  border: none;
}

.nav-btn--opened {
  background-image: url('./img/close.png');
}

.hamburger-closed {
  display: none;
}

.hamburger-opened {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}
