@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.hp-header {
  background-image: url('./img/cover-photo-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('./img/cover-photo-unsplash.jpg');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-stripe-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*
.logo {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
}
*/

.logo-link {
  height: 4rem;
  width: 4rem;
  border: 3px solid white;
  border-radius: 50%;
  margin: 1rem 0 0 1rem;
}

.logo2 {
  color: white;
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
  text-decoration: none;
  margin: 0;
  text-align: center;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-btn {
  width: 2.5rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  margin-top: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  border-top: 0.22rem solid #fff;
  border-bottom: 0.22rem solid #fff;
  position: relative;
}

.nav-btn:focus {
  outline: none;
}

.nav-btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgb(255, 255, 255);
  width: 2.5rem;
  height: 0.2rem;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
}

.nav-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  width: 2.5rem;
  height: 0.2rem;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
}

.nav-btn--opened {
  /*background-image: url('./img/close.png');
  filter: invert(100%);*/
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 1.8rem;
  margin-right: 1rem;
  border: none;
}

.nav-btn--opened::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.nav-btn--opened::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hamburger-closed {
  display: none;
}

.hamburger-opened {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.stripe-opened {
  position: fixed;
  top: 0;
  background-image: url('./img/cover-photo-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('./img/cover-photo-unsplash.jpg');
  z-index: 100;
}

.link {
  padding: 1.5rem 0 1.5rem 0;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.hp-text__heading {
  color: white;
  font-size: 5rem;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  margin: 0;
  padding: 0 2rem 0 2rem;
}

.hp-text__description {
  color: white;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 1.5rem;
}

.arrow-down {
  background-image: url('./img/down-chevron.svg');
  filter: invert(100%);
  width: 2rem;
  height: 2rem;
  margin: 0 auto 1rem;
  cursor: pointer;
}

.arrow-down--hidden {
  display: none;
}

.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

@keyframes bounce {
  60% {
    transform: translateY(-15px);
  }
}

.hp-content {
  padding: 4rem 2rem 2rem 2rem;
}

.hp-content__item {
  background-color: rgb(131, 124, 97);
  transition: all 0.3s;
  padding: 2rem 2rem;
  margin-bottom: 2rem;
}

.icon-list,
.icon-calendar,
.icon-book {
  filter: invert(100%);
  height: 3rem;
  margin-bottom: 1.5rem;
}

.icon-list {
  background-image: url('./img/list-alt-solid.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-calendar {
  background-image: url('./img/calendar-week-solid.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-book {
  background-image: url('./img/book-reader-solid.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.hp-content-click {
  text-decoration: none;
}

.hp-content-click:hover .hp-content__item {
  background-color: rgb(66, 62, 47);
}

.hp-content__item__heading,
.hp-content__item__description {
  color: white;
  text-align: center;
}

.hp-content__item__heading {
  margin-top: 0.5rem;
}

.hp-content__item__description {
  line-height: 1.7;
}

.arrow-right {
  background-image: url('./img/right-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(100%);
  height: 2rem;
  cursor: pointer;
}

.footer {
  padding: 0.5rem 2rem 0.5rem 2rem;
  text-align: center;
  border-top: 1px solid rgb(131, 124, 97);
  color: rgb(131, 124, 97);
  font-size: 0.8rem;
  line-height: 1.7;
}

@media (min-width: 550px) {
  .hp-text__heading {
    font-size: 8rem;
  }

  .hp-text__description {
    font-size: 1.5rem;
    margin-top: 2.5rem;
  }
}

@media (min-width: 791px) {
  .hp-content {
    display: flex;
    justify-content: space-around;
    padding-right: 0;
  }

  .hp-content__item {
    flex-basis: calc(100% / 3);
    margin-right: 2rem;
  }
}

@media (min-width: 1000px) {
  .logo {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
  }

  .nav-btn {
    display: none;
  }

  .hamburger-closed {
    display: flex;
    margin: 1.5rem 2.5rem 0 0;
  }

  .link {
    margin-left: 3rem;
    font-size: 1.1rem;
    text-transform: uppercase;
  }

  .link__span:hover {
    padding-bottom: 0.6rem;
    border-bottom: 2px solid white;
  }
}

@media (min-width: 1304px) {
  .logo-link {
    margin: 1rem 0 0 1.5rem;
  }

  .link {
    font-size: 1.4rem;
  }

  .hp-text__heading {
    font-size: 11rem;
  }

  .hp-text__description {
    font-size: 2rem;
    margin-top: 3.5rem;
  }

  .arrow-down {
    width: 3rem;
    height: 3rem;
  }

  .icon-list,
  .icon-calendar,
  .icon-book {
    height: 4.5rem;
    margin-bottom: 2rem;
    margin-top: 0.4rem;
  }

  .hp-content__item {
    padding: 2rem;
  }

  .hp-content__item__heading {
    font-size: 2.3rem;
  }

  .hp-content__item__description {
    font-size: 1.6rem;
  }

  .arrow-right {
    height: 3rem;
  }

  .footer {
    font-size: 1.1rem;
  }
}

/* Styly pro overview.html */
.plant {
  text-align: center;
  width: 100%;
  padding: 2rem 2rem 2rem 2rem;
  position: relative;
}

.image-flowering {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: none;
  width: 3rem;
  height: 3rem;
  padding: 0.3rem;
  transform: translate(30%, -30%);
  border: 1px solid rgb(131, 124, 97);
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #f8ba33;
  /*
  border: 1px solid rgb(131, 124, 97);
  border-radius: 50%;
  background-color: rgb(131, 124, 97);
  border: 1px solid ;
  background-size: contain;
  background-image: url('./img/jasmine.svg');
  border-radius: 50%;
  background-color: rgb(207, 66, 207);
  filter: invert(100%);
  border: 2px solid white;
  color: black;
  font-size: 2rem;
  */
}

.visible {
  display: block;
}

.image-plant {
  width: 100%;
  height: auto;
}

.name-plant {
  margin: 2rem 0;
}

.link-to-plant {
  text-decoration: none;
  background-color: rgb(131, 124, 97);
  transition: all 0.3s;
  color: white;
  padding: 0.5rem 1.5rem;
  margin: 2rem 0 1rem 0;
}

.link-to-plant:hover {
  background-color: rgb(66, 62, 47);
}

.form-filter {
  padding: 2rem 2rem 2rem 2rem;
}

.form-select {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 1rem 0;
}

.form-select label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-select select {
  font-family: 'Open Sans', sans-serif;
  padding: 0.4rem;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.form-select select:focus {
  outline: none;
}

.button-filter {
  display: block;
  margin: 0 auto 1rem;
  font-family: 'Open Sans', sans-serif;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  color: #fff;
  background-color: rgb(131, 124, 97);
  transition: all 0.3s;
}

.button-filter:hover {
  background-color: rgb(66, 62, 47);
}

.button-filter:focus {
  outline: none;
}

@media (min-width: 845px) {
  .main-overview {
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .plant {
    max-width: calc(100% / 3);
  }

  .filter-stripe {
    width: 100%;
  }

  .form-filter {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 2rem 2rem;
  }

  .form-select {
    flex-basis: 20%;
    width: 100%;
    margin-right: 1rem;
  }

  .form-select:last-child {
    margin-right: 0;
  }

  .button-filter {
    margin: 1.3rem auto 2.5rem;
  }
}

@media (min-width: 1304px) {
  .name-plant {
    font-size: 1.9rem;
  }

  .link-to-plant {
    font-size: 1.3rem;
  }

  .form-select,
  .form-select select,
  .button-filter {
    font-size: 1.3rem;
  }
}

/* Jednotlivé stránky rostlin */
.view-plant {
  padding: 4rem 2rem 3rem;
}

.plant-image {
  width: 100%;
  margin: 0 0 1.5rem 0;
}

.plant-image__photo {
  width: 100%;
}

.plant-describe {
  margin: 0;
}

.title-plant {
  margin: 0 0 0.5rem 0;
}

.title-plant__latin {
  margin: 0;
}

.plant-describe ul {
  padding: 0;
  list-style-type: none;
  line-height: 2rem;
}

@media (min-width: 1000px) {
  .view-plant {
    display: flex;
    padding: 4rem 2rem 2rem;
  }

  .plant-image {
    width: 50%;
    margin-right: 3rem;
  }
}

@media (min-width: 1320px) {
  .plant-describe {
    font-size: 1.5rem;
  }

  .plant-describe ul li {
    margin: 0.5rem 0 0.5rem 0;
  }
}

/* Styly pro planner.html */
.planner-description {
  text-align: center;
  margin: 0;
  padding: 4rem 2rem 2rem 2rem;
  line-height: 1.7;
}

.planner-form {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 2rem 2rem;
}

.planner-form__month {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border: none;
  resize: none;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 2.7rem;
}

.planner-form__day {
  display: flex;
  align-items: baseline;
  width: 100%;
  margin-bottom: 0.2rem;
}

.col-8 {
  width: 8%;
  text-align: right;
  margin-right: 0.5rem;
}

.col-92 {
  width: 92%;
}

.col-92__input {
  width: 100%;
  padding: 0.1rem;
  font-size: 0.9rem;
  border: none;
  border-bottom: 1px solid black;
  background: none;
  font-family: 'Open Sans', sans-serif;
}

.btn-print {
  margin: 0 auto 2rem;
  display: block;
  color: white;
  background-color: rgb(131, 124, 97);
  transition: all 0.3s;
  border: none;
  padding: 0.5rem 1.5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.btn-print:hover {
  background-color: rgb(66, 62, 47);
}

@media (min-width: 400px) {
  .col-8 {
    width: 5%;
  }

  .col-92 {
    width: 95%;
  }
}

@media (min-width: 527px) {
  .planner-form__month {
    max-height: 5.3rem;
    margin-bottom: 2rem;
    font-size: 3.5rem;
  }
}

@media (min-width: 600px) {
  .col-8 {
    width: 3%;
  }

  .col-92 {
    width: 97%;
  }
}

@media (min-width: 800px) {
  .planner-form {
    max-width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 1304px) {
  .planner-description,
  .btn-print {
    font-size: 1.3rem;
  }
}

@media print {
  .hp-header,
  .planner-description,
  .btn-print,
  .footer {
    display: none;
  }

  @page {
    margin: 0;
  }

  body {
    margin: 1.6cm;
  }
}

/* Styly pro blog.html */
.main-blog {
  padding-top: 2rem;
}

@media (min-width: 845px) {
  .main-blog {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
}

/* Styly pro články na blogu */

/* Styly pro about.html */
.about {
  padding: 4rem 2rem 4rem 2rem;
}

.about__heading {
  margin: 0 0 2rem 0;
  text-align: center;
}

.about__description {
  margin: 0;
  line-height: 1.7;
  text-align: center;
}

@media (min-width: 1304px) {
  .about__heading {
    font-size: 2.3rem;
  }

  .about__description {
    font-size: 1.3rem;
  }
}
